In [2]:
import requests
import pandas as pd

In [8]:
filepath = '/Users/asiah/Documents/dev/risk-terminal/output/avg_trade_size.txt'

# df = pd.read_csv('/Users/asiah/Documents/dev/risk-terminal/output/avg_trade_size.txt', sep=",", header=None, names=["address", "avg_trade_size"])

In [10]:


# read the txt file as a list of lists
with open(filepath, "r") as f:
    data_list = eval(f.read())

# create a dataframe from the list
df = pd.DataFrame(data_list, columns=["Address", "Value"])

# convert the value column to numeric type
df["Value"] = pd.to_numeric(df["Value"])

# print the dataframe
print(df)

                                         Address         Value
0     0xcacab92de53d03327c335fa618cda854b3ea7762  6.695649e+00
1     0x2c5d7074a198f08885c2e2f6a84ba1f421623436  5.109581e+00
2     0x52a19cb8e3660d206b49a3957bea4e21ced7cb5c  2.371287e+00
3     0x54e6358f24927c259aaf53aa230b56e2d27b5810  2.316011e+00
4     0x13ff4f55801b0aee129b349ef1aa2bf194a357c1  2.252862e+00
...                                          ...           ...
2270  0x3cd027f59071bad4736c5eaab557cdcfffc50252  1.528638e-09
2271  0x2a51835678b2732ea7f4df601bed7fb3993d85b5  3.031159e-11
2272  0xa71e770761690a6f9ec0634737919cf1a948e3b7  1.059870e-12
2273  0x542973769d0778454caebcf55c2309246f0bf682  2.215660e-14
2274  0x0d17676dfa5ae692cef29670e8eac394183b69da  1.141600e-15

[2275 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2275 entries, 0 to 2274
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Address  2275 non-null   object
 1   Value    2275 non-null   float64
dtypes: float64(1), object(1)
memory usage: 35.7+ KB